<div class="app-users"
     *ngIf="userService.users$ | async as users">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <button class="btn btn-small btn-primary"
                            (click)="newUser()">create new user</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="media d-flex justify-content-between my-2 border p-2 rounded shadow-sm"
                 *ngFor="let user of users">

                <h5>{{user.first_name}} {{user.last_name}}</h5>
                <a class="btn btn-small btn-success"
                   [routerLink]="[user.id]">Show Details</a>

            </div>
        </div>

    </div>
</div>